* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

input,
select,
textarea,
textarea::placeholder {
  font-family: 'Roboto', sans-serif;
}

.todoApp {
  margin: 250px auto auto auto;
  width: 1000px;
}

.topNav {
  display: flex;
  align-items: center;
  padding-left: 100px;
  width: 100%;
  height: 100px;
  background: lightcoral;
  font-size: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background: whitesmoke;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 600px;
}

.menu {
  border-right: 1px solid grey;
  background: lightgray;
  border-bottom-left-radius: 5px;
  position: relative;
}

.todoHeaderWrapper,
.projectsHeaderWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
}

.todoHeader,
.projectsHeader {
  margin: 0;
}

.todoAddBtn,
.projectsAddBtn {
  background: none;
  border: none;
  cursor: pointer;
  filter: invert(56%) sepia(49%) saturate(794%) hue-rotate(315deg) brightness(112%) contrast(96%);
  
}

.addBtn:hover {
  transform: scale(1.05);
}

.mainWindow {
  padding: 30px;
}

.emptyList {
  height: 50px;
  padding: 15px;
}

.projectTitle {
  padding: 5px 20px 5px 20px;
  color: salmon;
  box-shadow: lightgrey 2px 2px;
  font-weight: 300;
  text-align: center;
  border: solid 2px salmon;
  border-radius: 3px;
  width: fit-content;
  margin: auto;
}

.todoItem {
  display: grid;
  grid-template-columns: .5fr 3fr 1fr 1fr .2fr;
  align-items: center;
  background: lightgrey;
  border-radius: 2px;
  margin: 15px;
  padding: 12px;
}

.todoItem:hover {
  scale: 1.01;
}

.todoItemStrike {
  position: relative;
  opacity: 0.5;
  scale: 0.99;
}

.todoItemStrike:after {
position: absolute;
left: -17px;
top: 50%;
height: 2px;
background: black;
content: '';
width: 105%;
display: block;
}

.completeCheckbox,
.createProjectCheckbox {
  -webkit-appearance: none;
  background-color: #fafafa;
	border: 2px solid salmon;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
}

.completeCheckbox:active,
.completeCheckbox:checked:active,
.createProjectCheckbox:active,
.createProjectCheckbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.completeCheckbox:checked,
.createProjectCheckbox:checked {
	background-color: #e9ecee;
	border: 2px solid salmon;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.completeCheckbox:checked:after,
.createProjectCheckbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: salmon;
}

.detailsBtn {
  color: salmon;
  border: 1px solid salmon;
  font-size: 12px;
  width: 80px;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
}

.detailsBtn:hover {
  background: salmon;
  color: white;
}

.deleteBtn {
  cursor: pointer;
}

.deleteBtn:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(239deg) brightness(109%) contrast(96%);
}

li:hover {
  cursor: pointer;
}

.createModal {
  display: none;
  background: rgba(132, 135, 132, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.detailsModal {
  display: none;
  background: rgba(132, 135, 132, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projectsModal {
  display: none;
  background: rgba(132, 135, 132, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.detailsModalContent {
  display: grid;
  grid-template-rows: .5fr 1fr 8fr 1fr 1fr;
  grid-template-columns: .5fr 1fr 1fr;
  background: whitesmoke;
  width: 700px;
  height: 500px;
  margin: 30vh auto auto auto;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.createModalContent {
  display: grid;
  grid-template-rows: .5fr 1fr 8fr 1fr 1fr;
  grid-template-columns: .5fr 1fr .5fr .5fr;
  background: whitesmoke;
  width: 700px;
  height: 500px;
  margin: 30vh auto auto auto;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.projectsModalContent {
  display: grid;
  grid-template-rows: .5fr 1fr 8fr;
  grid-template-columns: .5fr 1fr 1fr;
  background: whitesmoke;
  width: 700px;
  height: 500px;
  margin: 30vh auto auto auto;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.projectsModalContent :nth-child(4) {
  grid-column: 1;
}

.addTodoToProject {
  border: 2px solid salmon;
  font-size: 13px;
  width: 200px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
}

.deleteProject {
  border: 2px solid salmon;
  font-size: 13px;
  width: 200px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
  
}

.detailsTopTitle,
.createTopTitle,
.projectsTopTitle {
  text-align: start;
  grid-column: 1 / 5;
  padding: 10px;
  margin: 0;
  background: salmon;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.closeButton {
  padding: 8px 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.modalTitle,
.detailsTitle,
.projectsTitle {
  grid-column: 1 / 4;
  background: transparent;
  border: none;
  margin: 5px;
  padding: 8px;
}

.modalDescription,
.detailsDescription {
  grid-row: 3;
  grid-column: 1 / 4;
  background: transparent;
  border: none;
  margin: 5px;
  padding: 8px;
}

.modalType {
  grid-row: 4;
  text-align: center;
}

.modalDate,
.detailsDate {
  text-align: center;
  width: 150px;
  border: 2px solid salmon;
  border-radius: 3px;
  height: 30px;
  padding: 10px;
  margin: 8px;
}

.createProjectLabel {
  grid-column: 3;
  grid-row: 4;
  padding: 13px;
  text-align: right;
}

.createProjectCheckbox {
  width: 20px;
  height: 20px;
  align-self: center;
  margin: 8px;
  grid-row: 4;
  grid-column: 4;
}

.priorityLabel,
.dueDateLabel {
  padding: 13px;
  grid-column: 1;
  text-align: right;
}

.modalPriority {
  text-align: center;
}

.priorityBtns,
.detailsPriorityBtns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

input[name="radioGroup"],
input[name="detailsRadioGroup"] {
  display: none;
}

#low + label,
#detailsLow + label {
  /* style passive state as you like */
  border: 2px solid #008000;
  color: #008000;
  border-radius: 3px;
  grid-column: 1;
  width: 70px;
  height: 30px;
  cursor: pointer;
  padding: 3px;
}

#low:checked+label,
#detailsLow:checked+label {
  /* style checked state as you like */
  background: #008000;
  color: whitesmoke;
}

#med + label,
#detailsMed + label {
  /* style passive state as you like */
  border: 2px solid #ffa500;
  color: #ffa500;
  border-radius: 3px;
  grid-column: 2;
  width: 70px;
  height: 30px;
  cursor: pointer;
  padding: 3px;
}

#med:checked+label,
#detailsMed:checked+label {
  /* style checked state as you like */
  background: #ffa500;
  color: whitesmoke;
}

#high + label,
#detailsHigh + label {
  /* style passive state as you like */
  border: 2px solid #ff0000;
  color: #ff0000;
  border-radius: 3px;
  grid-column: 3;
  width: 70px;
  height: 30px;
  cursor: pointer;
  padding: 3px;
}

#high:checked+label,
#detailsHigh:checked+label {
  /* style checked state as you like */
  background: #ff0000;
  color: whitesmoke;
  }

.modalSaveBtn,
.modalUpdateBtn,
.projectsSave {
  grid-column: 3 / 5;
  justify-self: center;
  border: 2px solid salmon;
  font-size: 13px;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
}